<div *ngIf="!started else startedBlock">
    <form [formGroup]="sizeForm" (ngSubmit)="start()" id="controls">
        <div class="row">
            <label class="col-6" for="size">Size: </label>
            <input class="form-control col-6" formControlName="size" id="size" name="size" type="number" step="1" min="5" max="20" value="5">
        </div>
        <div class="row">
            <button [disabled]="running" class="btn btn-success btn-block">Start</button>
        </div>
    </form>
</div>
<ng-template #startedBlock>
    <div class="row">
        <button [disabled]="running" (click)="next()" class="btn btn-success btn-block">Next Stage</button>
    </div>
</ng-template>
<div class="row">
    <button [disabled]="running" (click)="reset()" class="btn btn-light btn-block">Reset</button>
</div>

<p>Run number: {{runNumber}}</p>
